<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Empire Printing Press & Computer Training School  || sumit</title>


</head>

<body>
  {% include "school/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">Our Prospectus !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">Hello</h1>
    <p class="lead">Your can download it for free.</p>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>

  {% include "school/footer.html" %}
</body>

</html>
